.about__image, .catalog__card-image, .banner__image {
  position: relative;
}
.about__image img, .catalog__card-image img, .banner__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__message, .form__name, .form__phonenumber {
  padding: 16px;
  background: #ffffff;
  border: 2px solid #f2f4f7;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #98a2b3;
}
.form__message::-moz-placeholder, .form__name::-moz-placeholder, .form__phonenumber::-moz-placeholder {
  color: #98a2b3;
}
.form__message::placeholder, .form__name::placeholder, .form__phonenumber::placeholder {
  color: #98a2b3;
}

/* ---------- support styles ---------- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
}

.main {
  padding: 224px 0 96px;
}

/* push footer */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper .main {
  flex: 1 1 auto;
}

[class*=_container] {
  max-width: 1360px;
  margin: 0px auto;
  padding: 0 16px;
  box-sizing: content-box;
}

.active,
.inactive {
  pointer-events: none;
  cursor: default;
}

/* ---------- nulling styles ---------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* ---------- bem blocks ---------- */
.banner {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.banner_winter {
  background: url(../../assets/images/main/banner/winter-gradient.png) center no-repeat;
}
.banner_winter .banner__title {
  max-width: 238px;
  color: #fcfcfd;
}
.banner_winter .banner__title::after {
  background: url(../../assets/images/main/icon/snowflake.png) center no-repeat;
}
.banner_winter .banner__text {
  color: #ffffff;
}
.banner_winter .banner__button {
  color: #ffffff;
  background: #faa52e;
}
.banner_winter .banner__button::after {
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L11 1M11 1H1M11 1V11' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}
.banner_winter .banner__image img {
  width: 127%;
  height: 130%;
}
.banner_summer {
  background: url(../../assets/images/main/banner/summer-gradient.png) center no-repeat;
}
.banner_summer .banner__title {
  max-width: 234px;
  color: #101828;
}
.banner_summer .banner__title::after {
  background: url(../../assets/images/main/icon/sun.png) center no-repeat;
}
.banner_summer .banner__text {
  color: #101828;
}
.banner_summer .banner__button {
  color: #ef9415;
  background: #fff8ef;
}
.banner_summer .banner__button::after {
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L11 1M11 1H1M11 1V11' stroke='%23EF9415' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}
.banner_summer .banner__image img {
  width: 135%;
  height: 120%;
}
.banner__content {
  flex: 1 0 50%;
  padding-left: 48px;
}
.banner__title {
  height: 44px;
  padding: 8px 16px;
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
  font-size: 18px;
  line-height: 156%;
  background: rgba(16, 24, 40, 0.1);
  border-radius: 44px;
}
.banner__title::after {
  content: "";
  width: 18px;
}
.banner__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
}
.banner__text:not(:last-child) {
  margin-bottom: 24px;
}
.banner__button {
  max-width: 192px;
  display: flex;
  justify-content: center;
  padding: 16px 32px;
  gap: 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  transition: box-shadow 0.3s;
}
.banner__button::after {
  content: "";
  width: 24px;
}
.banner__button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3647058824);
}
.banner__flex-image {
  flex: 1 0 50%;
  max-height: 512px;
}
.banner__image {
  padding-bottom: 75%;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  grid-auto-rows: minmax(256px, 1fr);
  gap: 32px;
}
.catalog__card {
  display: inline-flex;
  align-items: flex-end;
  position: relative;
  padding: 0 24px 24px;
  background: #f9fafb;
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}
.catalog__card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3647058824);
}
.catalog__card:hover .catalog__card-image img {
  transform: scale(1.05);
  transform-origin: top right;
}
.catalog__card_big {
  grid-column: span 2;
}
.catalog__card_big:hover .catalog__card-image img {
  transform: scale(1.05);
  transform-origin: bottom right;
}
.catalog__card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}
.catalog__card-image {
  position: static;
  top: 0;
  right: 0;
  padding-bottom: 37%;
}
.catalog__card-image img {
  transition: transform 0.3s, transform-origin 0.3s;
}

.card-features__body {
  text-align: center;
  padding: 0 25px;
}
.card-features__icon:not(:last-child) {
  margin-bottom: 16px;
}
.card-features__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}
.card-features__title:not(:last-child) {
  margin-bottom: 4px;
}
.card-features__caption {
  font-size: 20px;
  line-height: 150%;
  color: #667085;
}

.conditions {
  min-height: 512px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.conditions__content {
  max-width: 606px;
}
.conditions__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 127%;
  text-transform: uppercase;
  color: #faa52e;
  margin-bottom: 4px;
}
.conditions__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #101828;
}
.conditions__subtitle:not(:last-child) {
  margin-bottom: 16px;
}
.conditions__caption {
  font-size: 20px;
  line-height: 150%;
  color: #667085;
}
.conditions__caption:not(:last-child) {
  margin-bottom: 32px;
}
.conditions__button {
  display: inline-flex;
  align-items: center;
  padding: 16px 32px;
  gap: 12px;
  background: #fff8ef;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ef9415;
  transition: box-shadow 0.3s;
}
.conditions__button::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L11 1M11 1H1M11 1V11' stroke='%23EF9415' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}
.conditions__button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3647058824);
}
.conditions__illustration {
  max-width: 606px;
  text-align: center;
  flex: 1 0 0;
}
.conditions__image {
  margin-bottom: 32px;
}
.conditions__tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.conditions__tag {
  padding: 8px 16px;
  background: #f9fafb;
  border-radius: 32px;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.form__name, .form__phonenumber {
  flex: 1 1 262px;
  transition: border 0.3s;
}
.form__name:focus, .form__phonenumber:focus {
  border: 2px solid #faa52e;
}
.form__message {
  flex: 1 0 100%;
  min-height: 128px;
  transition: border 0.3s;
}
.form__message:focus {
  border: 2px solid #faa52e;
}
.form__button {
  flex: 1 0 0;
  padding: 16px 32px;
  background: #faa52e;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  transition: box-shadow 0.3s;
  max-width: 323px;
}
.form__button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3647058824);
}
.form__button:active {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3647058824);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo__label {
  font-weight: 700;
  font-size: 30px;
  line-height: 127%;
  color: #1d2939;
  text-transform: uppercase;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 32px;
}
.contacts__number {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #1d2939;
}
.contacts__number::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.38028 7.85335C8.07627 9.30297 9.02506 10.6616 10.2266 11.8632C11.4282 13.0648 12.7869 14.0136 14.2365 14.7096C14.3612 14.7694 14.4235 14.7994 14.5024 14.8224C14.7828 14.9041 15.127 14.8454 15.3644 14.6754C15.4313 14.6275 15.4884 14.5704 15.6027 14.4561C15.9523 14.1064 16.1271 13.9316 16.3029 13.8174C16.9658 13.3864 17.8204 13.3864 18.4833 13.8174C18.6591 13.9316 18.8339 14.1064 19.1835 14.4561L19.3783 14.6509C19.9098 15.1824 20.1755 15.4481 20.3198 15.7335C20.6069 16.301 20.6069 16.9713 20.3198 17.5389C20.1755 17.8242 19.9098 18.09 19.3783 18.6214L19.2207 18.779C18.6911 19.3087 18.4263 19.5735 18.0662 19.7757C17.6667 20.0001 17.0462 20.1615 16.588 20.1601C16.1751 20.1589 15.8928 20.0788 15.3284 19.9186C12.295 19.0576 9.43264 17.4332 7.04466 15.0452C4.65668 12.6572 3.03221 9.79483 2.17124 6.76144C2.01103 6.19699 1.93092 5.91477 1.9297 5.50182C1.92833 5.0436 2.08969 4.42311 2.31411 4.0236C2.51636 3.66357 2.78117 3.39876 3.3108 2.86913L3.46843 2.7115C3.99987 2.18006 4.2656 1.91433 4.55098 1.76999C5.11854 1.48292 5.7888 1.48292 6.35636 1.76999C6.64174 1.91433 6.90747 2.18006 7.43891 2.7115L7.63378 2.90637C7.98338 3.25597 8.15819 3.43078 8.27247 3.60655C8.70347 4.26945 8.70347 5.12403 8.27247 5.78692C8.15819 5.96269 7.98338 6.1375 7.63378 6.4871C7.51947 6.60142 7.46231 6.65857 7.41447 6.72538C7.24446 6.96281 7.18576 7.30707 7.26748 7.58743C7.29048 7.66632 7.32041 7.72866 7.38028 7.85335Z' stroke='%231D2939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}
.contacts__number::after {
  position: absolute;
  content: "";
  bottom: 11px;
  left: 50%;
  right: 50%;
  height: 1px;
  background-color: #1d2939;
  transform: translateX(36px);
  transition: left 0.3s, right 0.3s;
}
.contacts__number:hover::after {
  left: 0;
  right: 36px;
}

/* ---------- header ---------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 176px;
  padding: 24px 0;
  border-bottom: 2px solid #f2f4f7;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 48px;
}
.header__main {
  flex: 1 1 1053px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__catalog-button {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  gap: 12px;
  background: #faa52e;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  transition: box-shadow 0.3s;
}
.header__catalog-button::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H13M1 1H19M1 13H19' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center no-repeat;
}
.header__catalog-button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3647058824);
}
.header__search-form {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border: 2px solid #f2f4f7;
  border-radius: 12px;
}
.header__search {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #98a2b3;
}
.header__search::-moz-placeholder {
  color: #98a2b3;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.header__search::placeholder {
  color: #98a2b3;
  transition: color 0.3s;
}
.header__search::-webkit-search-cancel-button, .header__search::-ms-clear, .header__search::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.header__search:focus::-moz-placeholder {
  color: #faa52e;
}
.header__search:focus::placeholder {
  color: #faa52e;
}
.header__search-button {
  width: 24px;
  height: 24px;
  background: #ffffff;
  transition: transform 0.3s;
}
.header__search-button:hover {
  transform: scale(1.3);
}
.header__basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background: #fff8ef;
  border-radius: 12px;
  transition: box-shadow 0.3s;
}
.header__basket:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3647058824);
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__menu-item a {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #1d2939;
  padding: 10px 0;
}
.header__menu-item a::after {
  position: absolute;
  content: "";
  bottom: 8px;
  left: 50%;
  right: 50%;
  height: 1px;
  background-color: #1d2939;
  transition: left 0.3s, right 0.3s;
}
.header__menu-item a:hover::after {
  left: 0;
  right: 0;
}

/* ---------- footer ---------- */
.footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =================================== intro =================================== */
.intro {
  padding-bottom: 96px;
}
.intro__banner {
  margin-bottom: 64px;
}
.intro__categories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.intro__categories-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #101828;
}
.intro__catalog-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  border: 2px solid #d0d5dd;
  border-radius: 10px;
  color: #1d2939;
  transition: box-shadow 0.3s;
}
.intro__catalog-button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3647058824);
}
.intro__catalog-button::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.83337 10.1666L10.1667 1.83331M10.1667 1.83331H1.83337M10.1667 1.83331V10.1666' stroke='%231D2939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}

/* =================================== features =================================== */
.features {
  padding: 96px 0;
}
.features__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #101828;
}
.features__title:not(:last-child) {
  margin-bottom: 48px;
}
.features__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  row-gap: 32px;
}
.features__card {
  flex: 0 1 33.333%;
  padding: 0 16px;
}

/* =================================== installment & credit =================================== */
.installment,
.credit {
  padding: 96px 0;
}

/* =================================== help =================================== */
.help {
  padding: 96px 0;
}
.help__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.help__content {
  max-width: 548px;
}
.help__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #101828;
  margin-bottom: 8px;
}
.help__caption {
  font-size: 20px;
  line-height: 150%;
  color: #667085;
  margin-bottom: 48px;
  max-width: 474px;
}
.help__images {
  position: relative;
  overflow: hidden;
  flex: 0 0 664px;
}
.help__images::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 85.89%, #ffffff 100%), linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 12.63%);
}
.help__images-row {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.help__images-row:not(:last-child) {
  margin-bottom: 11px;
}
.help__image {
  flex: 0 0 144px;
  height: 144px;
  background: #f2f4f7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =================================== about =================================== */
.about {
  padding: 96px 0;
}
.about__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.about__image {
  flex: 0 1 606px;
  padding-bottom: 42%;
}
.about__image img {
  border-radius: 20px;
}
.about__location {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  background: #f9fafb;
  border-radius: 32px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.about__location::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 11.5C10.6569 11.5 12 10.1569 12 8.5C12 6.84315 10.6569 5.5 9 5.5C7.34315 5.5 6 6.84315 6 8.5C6 10.1569 7.34315 11.5 9 11.5Z' stroke='%23EF9415' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 21C11 17 17 14.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 14.4183 7 17 9 21Z' stroke='%23EF9415' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}
.about__location:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3647058824);
}
.about__info {
  flex: 0 1 606px;
}
.about__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 127%;
  text-transform: uppercase;
  color: #faa52e;
  margin-bottom: 4px;
}
.about__caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #101828;
  margin-bottom: 16px;
}
.about__text {
  font-size: 20px;
  line-height: 150%;
  color: #667085;
}
.about__text:not(:last-child) {
  margin-bottom: 16px;
}
.about__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.about__tags:not(:last-child) {
  margin-bottom: 48px;
}
.about__tag {
  padding: 8px 16px;
  background: #f9fafb;
  border-radius: 32px;
}
.about__button {
  display: inline-block;
  padding: 16px 32px;
  background: #faa52e;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  transition: box-shadow 0.3s;
}
.about__button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3647058824);
}

/* ---------- media quaries ---------- */
@media (max-width: 991px) {
  .banner__title {
    padding: 4px 12px;
    gap: 4px;
    font-size: 16px;
    height: 32px;
  }
  .banner__text {
    font-size: 20px;
  }
  .banner_winter .banner__title {
    max-width: 206px;
  }
  .banner_summer .banner__title {
    max-width: 203px;
  }
}
@media (max-width: 767px) {
  .banner {
    min-height: 250px !important;
    padding: 16px;
  }
  .banner__content {
    padding-left: 0;
  }
}
@media (max-width: 575px) {
  .banner {
    height: 490px !important;
  }
  .banner__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .banner__text {
    flex-grow: 1;
  }
  .banner__flex-image {
    display: none;
  }
  .banner__button {
    max-width: 100%;
  }
  .banner_winter {
    background: url(../../assets/images/main/banner/winter.png) center 65%/auto 59% no-repeat, url(../../assets/images/main/banner/winter-gradient.png) center no-repeat;
  }
  .banner_summer {
    background: url(../../assets/images/main/banner/summer.png) center 54%/auto 62% no-repeat, url(../../assets/images/main/banner/summer-gradient.png) center no-repeat;
  }
}
@media (max-width: 425px) {
  .banner_winter {
    background: url(../../assets/images/main/banner/winter.png) 9% 65%/auto 59% no-repeat, url(../../assets/images/main/banner/winter-gradient.png) center no-repeat;
  }
  .banner_summer {
    background: url(../../assets/images/main/banner/summer.png) 12% 54%/auto 62% no-repeat, url(../../assets/images/main/banner/summer-gradient.png) center no-repeat;
  }
}