@import "../../assets/source/mixins.scss";
@import "../../assets/source/samples.scss";
@import "../../assets/source/support-styles.scss";
@import "../../assets/source/null-styles.scss";
@import "../../assets/source/bem.scss";
@import "../../assets/source/header.scss";
@import "../../assets/source/footer.scss";

/* =================================== intro =================================== */
.intro {
	padding-bottom: 96px;
	&__banner {
		margin-bottom: 64px;
	}

	&__categories-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 48px;
	}

	&__categories-subtitle {
		font-weight: 700;
		font-size: 36px;
		line-height: 122%;
		letter-spacing: -0.02em;
		color: #101828;
	}

	&__catalog-button {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		padding: 12px 24px;
		border: 2px solid #d0d5dd;
		border-radius: 10px;
		color: #1d2939;
		transition: box-shadow 0.3s;
		&:hover {
			box-shadow: 0 0 10px 0 #0000005d;
		}
		&::after {
			content: "";
			width: 20px;
			height: 20px;
			background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.83337 10.1666L10.1667 1.83331M10.1667 1.83331H1.83337M10.1667 1.83331V10.1666' stroke='%231D2939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
				center no-repeat;
		}
		&_mobile {
			display: none;
			border: none;
			padding: 12px;
		}
	}
}

/* =================================== features =================================== */
.features {
	padding: 96px 0;
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 122%;
		text-align: center;
		letter-spacing: -0.02em;
		color: #101828;
		&:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
		row-gap: 32px;
	}

	&__card {
		flex: 0 1 33.333%;
		padding: 0 16px;
	}
}

/* =================================== installment & credit =================================== */
.installment,
.credit {
	padding: 96px 0;
}

/* =================================== help =================================== */
.help {
	padding: 96px 0;
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}

	&__content {
		max-width: 548px;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 122%;
		letter-spacing: -0.02em;
		color: #101828;
		margin-bottom: 8px;
	}

	&__caption {
		font-size: 20px;
		line-height: 150%;
		color: #667085;
		margin-bottom: 48px;
		max-width: 474px;
	}

	&__images {
		position: relative;
		overflow: hidden;
		flex: 1 0 50%;
		max-width: 664px;
		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			z-index: 2;
			background: linear-gradient(90deg, rgba(255, 255, 255, 0) 85.89%, #ffffff 100%),
				linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 12.63%);
		}
		&_mobile {
			display: none;
			flex: 1 0 100%;
		}
	}

	&__images-row {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 12px;
		&:not(:last-child) {
			margin-bottom: 11px;
		}
	}

	&__image {
		flex: 0 0 144px;
		height: 144px;
		background: #f2f4f7;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/* =================================== about =================================== */
.about {
	padding: 96px 0;
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}

	&__image {
		flex: 0 1 606px;
		@extend %adapt-img;
		padding-bottom: 42%;
		img {
			border-radius: 20px;
		}
	}

	&__location {
		position: absolute;
		top: 16px;
		right: 16px;
		z-index: 2;
		font-size: 16px;
		line-height: 150%;
		color: #101828;
		display: flex;
		padding: 8px 16px;
		gap: 8px;
		background: #f9fafb;
		border-radius: 32px;
		cursor: pointer;
		transition: box-shadow 0.3s;
		&::before {
			content: "";
			width: 24px;
			height: 24px;
			background: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 11.5C10.6569 11.5 12 10.1569 12 8.5C12 6.84315 10.6569 5.5 9 5.5C7.34315 5.5 6 6.84315 6 8.5C6 10.1569 7.34315 11.5 9 11.5Z' stroke='%23EF9415' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 21C11 17 17 14.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 14.4183 7 17 9 21Z' stroke='%23EF9415' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
				center no-repeat;
		}
		&:hover {
			box-shadow: 0 0 10px 0 #0000005d;
		}
	}

	&__info {
		flex: 0 1 606px;
	}

	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 127%;
		text-transform: uppercase;
		color: #faa52e;
		margin-bottom: 4px;
	}

	&__caption {
		font-weight: 700;
		font-size: 36px;
		line-height: 122%;
		letter-spacing: -0.02em;
		color: #101828;
		margin-bottom: 16px;
	}

	&__text {
		font-size: 20px;
		line-height: 150%;
		color: #667085;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__tags {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 12px;
		&:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	&__tag {
		padding: 8px 16px;
		background: #f9fafb;
		border-radius: 32px;
	}

	&__button {
		display: inline-block;
		padding: 16px 32px;
		background: #faa52e;
		border-radius: 12px;
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: #ffffff;
		transition: box-shadow 0.3s;
		&:hover {
			box-shadow: 0 0 10px 0 #0000005d;
		}
	}
}

@import "../../assets/source/media.scss";
