@import "../../assets/source/mixins.scss";
@import "../../assets/source/samples.scss";
@import "../../assets/source/support-styles.scss";
@import "../../assets/source/null-styles.scss";
@import "../../assets/source/bem.scss";
@import "../../assets/source/header.scss";
@import "../../assets/source/footer.scss";

/* =================================== intro =================================== */
.intro {
	padding-bottom: 96px;
	&__banner {
		margin-bottom: 64px;
	}

	&__categories-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 48px;
	}

	&__categories-subtitle {
		font-weight: 700;
		font-size: 36px;
		line-height: 122%;
		letter-spacing: -0.02em;
		color: #101828;
	}

	&__catalog-button {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		padding: 12px 24px;
		border: 2px solid #d0d5dd;
		border-radius: 10px;
		color: #1d2939;
		transition: box-shadow 0.3s;
		&:hover {
			box-shadow: 0 0 10px 0 #0000005d;
		}
		&::after {
			content: "";
			width: 20px;
			height: 20px;
			background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.83337 10.1666L10.1667 1.83331M10.1667 1.83331H1.83337M10.1667 1.83331V10.1666' stroke='%231D2939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
				center no-repeat;
		}
	}
}

/* =================================== features =================================== */
.features {
	padding: 96px 0;
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 122%;
		text-align: center;
		letter-spacing: -0.02em;
		color: #101828;
		&:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
		row-gap: 32px;
	}

	&__card {
		flex: 0 1 33.333%;
		padding: 0 16px;
	}
}

/* =================================== installment % credit =================================== */
.installment,
.credit {
	padding: 96px 0;
}

@import "../../assets/source/media.scss";
